:root {
    --forest-green: #656D4A;
    --white: white;
    --caramel: #A68A64;
    --brown: #7F5539;
    --beige: #EDE0D4;
    --dark-green: #414833;
    --brown-txt:#443024;

    --bg-beige:#FFFCF8;
    --admin--green:#ADC178;
    --admin-txt : #363636;
    --admin-background : #0c0c0c;
    --admin-brown : #A98467;
    --admin--light-green: #DDE5B6;
    --grey: #e0e0e0;
    --grey-placeholder: #868686
}
