.auth__form__block {
    background-image: url('/storage/app/public/auth-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.auth__form__block h1 {
    color: var(--admin--green);
    font-size: 40px;
    font-weight: 700;
}

.auth__form {
    margin-top: 24px;
}

.auth__form__container {
    background-color: var(--bg-beige);
    padding: 64px;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth__name__input, .auth__pass__input {
    display: block;
    background-color: var(--white);
    border: 1px solid var(--brown);
    border-radius: 16px;
    padding: 4px 16px;
    margin-top: 8px;
}

.auth__pass, .auth__name {
    margin-bottom: 24px;
}

.auth__pass__forgot {
    opacity: 60%;
}

.auth__btn {
    display: flex;
    flex-direction: column;
}

.auth__small__link {
    color: var(--forest-green)
}

.auth__small__connect {
    margin-top: 8px;
}
