.nav-info{
    background-color: var(--caramel);
    color: var(--white);
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    padding: 8px 96px;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark-green);
    background-color: var(--beige);
    padding: 20px 96px;
}
.nav-bar__brand{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav-bar__title{
    font-size: 24px;
    font-weight: 700;
}
.nav-bar__menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
