.pet-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 2px 0;
    padding: 32px;

    &__status{
        display: flex;
        gap: 8px;
        align-items: center;

        &__badge{
            background-color: var(--admin--green);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__actions{
        display: flex;
        align-items: center;
        gap: 16px;
    }
}
.pet-grid{
    display: grid;
    gap: 32px;
    margin-top: 32px;
    grid-template-columns: 2fr 1fr;

    &__right{
        padding: 24px;
        background-color: var(--white);
        box-shadow: rgba(149, 157, 165, 0.2) 0 0 2px 0;
        border-radius: 16px;
    }

    &__text{
        font-size: 14px;
        color: var(--grey-placeholder);
    }
}

.pet-adoption, .pet-note{
    padding: 24px;
    background-color: var(--white);
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 2px 0;
    border-radius: 16px;
}
.pet-note{
    margin-top: 32px;
}

#pet-status{

}
