.animals-filters__all{
    padding: 12px 20px;
    border: 2px solid var(--beige);
    border-radius: 25px;
    background: white;
    font-size: 0.95rem;
    color: var(--brown-txt);
    min-width: 140px;

    &:hover{
            border-color: var(--admin--green);
    }
    &:focus{
        border-color: var(--admin--green);
    }
}

.animals__table {
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0 0 2px 0;
}

.animals__row--head {
    background-color: var(--admin--light-green);
}

.animals__row--head .animals__cell {
    padding: 20px 24px;
    font-weight: 600;
    color: var(--brown-txt);
}

.animals__row {
    background-color: var(--white);
    border-radius: 16px;
    position: relative;
    border-bottom: 1px solid var(--grey);
    transition: 0.1s;
    &:hover{
        background-color: #fafafa;
    }
}

.animals__cell {
    padding: 16px 24px;
    font-size: 16px;
    color: var(--brown-txt);
    vertical-align: middle;
    text-align: center;

    &--image {
        width: 100px;
        text-align: center;
    }
    &--name {
        width: 15%;
        font-weight: 500;
    }
    &--type {
        width: 12%;
    }
    &--status {
        width: 25%;
        &--color{
            font-style: normal;
            background-color: var(--blue);
            padding: 16px;
            border-radius: 16px;
        }
    }
    &--date {
        width: 18%;
    }
    &--actions {
        width: 15%;
        text-align: right;
    }

}
.animals__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
