
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    box-sizing: content-box;
}
a{
    text-decoration: none;
    color: var(--brown-txt);
}

li{
    list-style: none;
}
.container{
    padding: 0 96px 96px;

}
input, textarea{
    border: none;
}
h2{
    font-size: 32px;
    font-weight: 500;
}
.admin__main{
    background-color: var(--bg-beige);
}
.main-content{
    padding: 32px;
    color: var(--brown-txt);
}
.admin-main h2{
    font-size: 20px;
}
@media (max-width: 1024px) {
    .container{
        padding: 0 20px 64px;
    }
    .cta__btn{
        font-size: 14px;
        padding: 16px 24px;
        font-weight: 400;
    }
    h2{
        font-size: 20px;
        font-weight: 500;
    }
}

.mobile__nav-bar__menu {
    cursor: pointer;
}


