
:root {
    --forest-green: #656D4A;
    --white: white;
    --caramel: #A68A64;
    --brown: #7F5539;
    --beige: #EDE0D4;
    --dark-green: #414833;
    --brown-txt:#443024;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: initial;
    font-family: 'Poppins', Arial, sans-serif;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

.container{
    padding: 0 96px 96px;
}

.u-btn{
    background-color: var(--forest-green);
    border-radius: 1rem;
    color: var(--white);
    display: inline-block;
    padding: 16px 32px;
    font-weight: 500;
    cursor: pointer;
}

h2{
    font-size: 32px;
    font-weight: 500;
}
